<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Home Bills</a></li>
          <li ><a href="#"></a></li>
          <li ><a href="#"></a></li>
          
        </ul>
       
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Dashboard</a></li>
        <li class="expense"><a href="/expense"  id="expense">Expense</a></li>
        <li class="income"><a href="/income" id="income">Update-Income</a></li>
        <li class="reports"><a href="/reports" id="report">Reports</a></li>
      </ul><br>
    </div>
    <br>

       <td>{{this.data.spentAt}}</td>
                <td>{{this.data.amount}} </td>


                <canvas id="myChart" width="400" height="400"></canvas>
      {{#if hbreports}}
      <h1>Reports</h1>
    
    
    <table>
        <tr>
           <th>spentAt</th>
           <th>Amount</th>
        </tr>
        
    {{#each reports}}
              
                <tr>
                
                 <td>{{spentAt}}</td>
                <td>{{amount}} </td>
                </tr>

   
    {{/each}}
    
    </table>
    {{/if}}
