/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: rgb(255, 153, 0);
  height: auto;
  margin-top:40px;
  margin-left:50px;
}
.sidenav a:hover {
  background-color: #f1f1f1;
}

.right_side{
  background-color: #ebe2d9;
  height: auto;
  margin-top:17px;
  position: relative;

}
.right_heading{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color:rgb(255, 153, 0);
  font-weight: bold;
  margin-top:10px;
}
.lbl_name{
  color:#68635d;
  margin-left:25px;
}


  .btn {
    background-color: #FFF;
    color:rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    border-radius: 25px;
    float: right;
}
.btn:hover,
.btn:focus,
.btn:active    {
    background-color: rgb(255, 153, 0);
    color: #FFF;
    border-color:rgb(255, 153, 0);
}
.grey{
  background-color:#68635d;
  font-family: Montserrat, sans-serif;
  color:white
}
footer {
  background-color: #68635d;
  color: white;
  padding: 15px;
  margin-top: 71px;
}
.navbar-inverse{
    background-color:#68635d;
}
.navbar-inverse .navbar-nav>.active>a {
color: #fff;

}
.navbar-inverse .navbar-nav>li>a {
color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
color: #fff;
background-color: #68635d;
}
/* background-color: #080808; */
.navbar-inverse .navbar-brand {
color: #68635d;
}
.dataForm{
    padding-top: 60px;
    
}
.logout{
  float:right;
  margin-top: 15px;
}
.logout:hover,.logout:focus,.logout:active{
  color:white!important;
}
.ex3 {  
  height:300px;
  width: 100%;  
  overflow-y: auto;
}
.logo{
width:45px;
height:45x;
margin-bottom:25px;
padding-bottom: 14px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 40vw;
  float:left;
}
.user{
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  color:white;
  float: left;
  margin-left:12px;
  display: block;
  margin-top:10px;

}
.bet{
  font-size: 25px;
  font-family: Montserrat, sans-serif;
  color:white;
  margin-top:7px;
  position:absolute;

}
#myNavbar{
    color:#f1f1f1;
}
table{
  margin-right: 20px;
  width:100%;
  margin-top:15px;
  
  
}
table,tr,td,th{
  border: solid;color:#9e794c;
  padding:10px;
}
#canvas{
  height: 290px !important;
  width: 829px !important;
}
a{
  color:white;
  font-size: 16px;
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

